<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Admin Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/index.css" rel="stylesheet"></link>
<link href="css/admin.css" rel="stylesheet"></link>
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.min.js"></script>

</head>
<body>

	<header>
		<div id="topFrame">
			<a href="/"> <img th:src="@{/images/logo.png}" height="45"
				width="auto" alt="logo.png" />
			</a>
			<h4 style="float: right; display: inline-block">HR APPLICATION</h4>
		</div>
	</header>

	<div class="container">
		<div class="alert alert-info" role="alert">Admin Panel</div>
		<div id="buttonFrame">
			<div style="display: table; margin: 0 auto;">
				<button class="btn btn-success" id="create" type="button"
					style="margin-right: 10px">Create</button>
				<button class="btn btn-info" id="list" type="button">Listings</button>
			</div>

		</div>

	</div>



	<script src="js/admin.js"></script>
</body>
</html>