<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Create List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/index.css" rel="stylesheet"></link>
<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>

	<header>
		<div id="topFrame">
			<a href="/"> <img th:src="@{/images/logo.png}" height="45"
				width="auto" alt="logo.png" />
			</a>
			<h4 style="float: right; display: inline-block">HR APPLICATION</h4>
		</div>
	</header>

	<div class="container">
		<div>
		<label><b>Job Title</b></label> 
		<input id="title" type="text" placeholder="Job Title" required="required"></input>
		<label><b>Job Description</b></label> 
		<input id="description" type="text" placeholder="Job Description" required="required"></input>	
		<label><b>Person # To Hire</b></label> 
		<input id="person" type="text" placeholder="Number Of Person" required="required"></input>			
		<label><b>Last Date:</b></label> 
		<input id="date" type="text" placeholder="Last Date" required="required"></input>			
			<button id="set">Continue</button>
			
		</div>
	</div>
<script src="/js/admin.js"></script>
</body>
</html>