<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Create List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/index.css" rel="stylesheet"></link>
<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/bootstrap.min.js"></script>

</head>
<body>

	<header>
		<div id="topFrame">
			<a href="/"> <img th:src="@{/images/logo.png}" height="45"
				width="auto" alt="logo.png" />
			</a>
			<h4 style="float: right; display: inline-block">HR APPLICATION</h4>
		</div>
	</header>

	<div class="container">
		<div id="inputGroup">
			<div class="inputFrame" id="titleFrame">
				<span class="inputLabel label label-primary">Job Title</span> <input
					id="title" type="text" placeholder="Job Title" required="required"></input>
			</div>
			<div class="inputFrame" id="descriptionFrame">
				<span class="inputLabel label label-primary">Job Description</span>
				<input id="description" type="text" placeholder="Job Description"
					required="required"></input>
			</div>
			<div class="inputFrame" id="personFrame">
				<span class="inputLabel label label-primary">Person # To Hire</span>
				<input id="person" type="number" placeholder="Number Of Person"
					required="required"></input>
			</div>
			<div class="inputFrame" id="dateFrame">
				<span class="inputLabel label label-primary">Last Date</span> <input
					id="date" type="text" placeholder="Last Date" required="required"></input>


			</div>
		</div>
		<button class="btn btn-success" id="set"
			style="margin: 0 auto; display: block;">Continue</button>
	</div>
	<script src="/js/admin.js"></script>
</body>
</html>