
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/index.css" rel="stylesheet"></link>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.min.js"></script>

</head>
<body>

	<header>
		<div id="topFrame">
			<a href="/"> <img th:src="@{/images/logo.png}" height="45"
				width="auto" alt="logo.png" />
			</a>
			<h4 style="float: right; display: inline-block">HR APPLICATION</h4>
		</div>
	</header>

	<div class="container">
		<div id="searchBar" class="col-md-offset-3" style="margin-top: 2%">
			<div class="col-lg-6" style="margin-top: 0.5%">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Search Listings" /> <span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
				</div>

			</div>
			
			<div id="logoFrame" class="dropdown">
				<a href="/login" style="margin-left: 5%"> <img class="dropbtn"
					th:src="@{/images/user.png}" height="45" width="auto"
					alt="user.png" /> <span id="username">Guest</span>
				</a>
				<div id="myDropdown" class="dropdown-content">
					<a id="adminPage" style="display: none" href="#">Admin Page</a> <a						
						id="signOut" style="display: none" href="#">Log Out</a> <a
						id="loginArea" href="#">Log In</a>
				</div>
			</div>

			<!-- <a href="/login" style="margin-left: 5%"> <img
				th:src="@{/images/user.png}" height="45" width="auto" alt="user.png" />
				<span id="username">Guest</span>
			</a>-->

		</div>

		<div id="listing">
			<h4>Listings</h4>
			<hr />
			<div id="Job">
			<tr th:each="job : ${job}">

				<div class="col-md-3" id="JobTitle">
					<span class="label label-default">Job Title</span>
					<td th:text="${job.jobTitle}" />
				</div>

				<div class="col-md-3" id="jobDescription">
					<span class="label label-primary">Job Description</span>
					<td th:text="${job.jobDescription}" />
				</div>
				
				<div class="col-md-3" id="numberOfPersonToHire">
					<span class="label label-success">Number Of Candidates</span>
				<td th:text="${job.numberOfPersonToHire}" />
				</div>
				
				<div class="col-md-3" id="lastApplicationDate">
					<span class="label label-info">Last Date</span>
				<td th:text="${job.lastApplicationDate}" />
				</div>				
				<hr />
			</tr>
		</div>
		</div>

	</div>

	<script src="js/index.js"></script>
</body>
</html>