<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Login Page</title>
<link href="css/index.css" rel="stylesheet"></link>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>

	<header>
		<div id="topFrame">
			<a href="/"> <img th:src="@{/images/logo.png}" height="45"
				width="auto" alt="logo.png" />
			</a>
			<h4 style="float: right; display: inline-block">HR APPLICATION</h4>
		</div>
	</header>

	<div class="container">
		<label><b>Username</b></label> 
		<input id="username" type="text" placeholder="Enter Username" required="required"></input>
		<label><b>Password</b></label> 
		<input id="password" type="password" placeholder="Enter Password" required="required"></input>

		<button id="login">Login</button>
	</div>
	
<script src="js/login.js"></script>
</body>
</html>